// out: null

@brand-primary: #ffc300;
@brand-secondary: #990000;

// body
@body-bg: #fff;
@font-family-base: "Open sans", Helvetica, Arial, sans-serif;

//navbar
@navbar-default-color: #eeeeee;
@navbar-default-bg: #000000;

@navbar-default-link-color: #eeeeee;
@navbar-default-link-hover-color: #000000;
@navbar-default-link-hover-bg: @brand-primary;
@navbar-default-link-active-color: #eeeeee;
@navbar-default-link-active-bg: transparent;

@navbar-default-toggle-hover-bg: @brand-primary;
@navbar-default-toggle-icon-bar-bg: #eeeeee;
@navbar-default-toggle-border-color: transparent;
