// out: ../css/malions.css, compress: true, strictMath: true

@import "bootstrap/bootstrap.less";
@import "custom-variables.less";
@import "bootstrap-datetimepicker.less";
@import "bootstrap-datetimepicker-build.less";
@import "font-awesome/font-awesome.less";


body {
    padding-top: @navbar-height;
    background: -webkit-linear-gradient(#990000, #500000);
    background: -o-linear-gradient(#990000, #500000);
    background: -moz-linear-gradient(#990000, #500000);
    background: linear-gradient(#990000, #500000);
}

.clear {
    clear: both;
}

.navbar-default {
    .navbar-nav {
        li {
            text-transform: uppercase;
        }
    }

    .collapsing, .in {
        .navbar-nav:last-child {
            border-top: 1px solid #770000;
        }
    }
}

.firstRow {
    margin-top: 20px;
    margin-bottom: 50px;

    .pageLogo {
        width: 100%;
        text-align: center;

        .img-responsive {
            display: inline;
        }
    }

    .slider {
        margin-top: 20px;
        background: transparent;
        width: 100%;
        height: 100px;
        padding: 20px;

        li {
            img {
                width: auto;
                height: 40px;
                margin: 10px;
                display: inline-block;
            }
        }
    }

    .calendar {
        background: #222222;
        padding: 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #DDDDDD;

        .calendarContent {
            text-align: center;

            .logo {
                margin-top: 30px;
                margin-bottom: 20px;

                img {
                    width: 60%;
                    height: auto;
                }
            }

            .title {
                font-size: 30px;
                line-height: 28px;
                font-weight: 500;
            }

            .date {
                font-size: 14px;
                margin-bottom: 10px;
                color: #999999;
            }

            .info {
                font-size: 14px;
            }
        }
    }
}

.div-title {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 2px solid @brand-primary;
    margin-bottom: 20px;
}

.secondRow {
    margin-top: 40px;
    margin-bottom: 20px;

    .twitchPlayer {
        width: 100%;
        height: 450px;
        border: none;
    }

    .nextEvents {
        ul {
            padding: 10px;
            list-style: none;
            background: #222;

            li {
                list-style: none;
                border-bottom: 1px solid #333;
                color: #ccc;
                height: 40px;

                &:last-child {
                    border-bottom: none;
                }

                .gameLogo {
                    padding: 10px;
                    background: #fff;
                    line-height: 40px;

                    img {
                        height: 20px;
                    }
                }

                a {
                    color: #ccc;
                }

                .eventDate {
                    padding: 0 10px;
                }

                .eventName {
                    font-weight: bold;
                }
            }
        }
    }
}

.thirdRow {

    .teamSection {
        width: 100%;
        padding-top: 60px;
    }

    .sectionTitle {
        display: table;
        width: 100%;
        height: 150px;

        img {
            max-width: 250px;
            height: auto;
            display: table-row;
            margin: auto;
        }

        .title {
            display: table-row;
            vertical-align: middle;
            text-align: center;
            color: #ccc;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .playerPanel {
        background: #222;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        height: 300px;

        .playerPhoto {
            max-width: 100%;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }

        .playerName {
            padding: 10px 0 5px;
            font-size: 24px;
            font-weight: bold;
            color: #ccc;
            display: block;
        }

        .playerTitle {
            color: #666;
        }
    }
}

.contactRow {
    padding-top: 60px;

    .contact {
        color: #ffffff;

        .title {
            font-size: 15px;
            width: 100%;
            border-bottom: 1px solid #999;
        }
    }
}

.footer {
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000000;

    .copyright {
        text-align: center;
        margin-top: 1em;
        color: #cccccc;
    }

    .socials {
        text-align: center;
        padding-top: 1em;
        color: #cccccc;

        .iconBar {
            i {
                font-size: 20px;
                margin-right: 10px;
                color: #CCCCCC !important;
            }
        }
    }
}
